<head>
   <title>sportshop</title>
   <meta charset="UTF-8"/>
   <meta name="keywords" content="html, oznake, struktura"/>
   <link href="/styles/sites.css" rel="stylesheet" type="text/css">
   <script src="../scripts/homenatrag.js"></script>
</head>