<head>
   <title>cart</title>
   <meta charset=”UTF-8”/>
   <meta name=”keywords” content=”html, oznake, struktura”/>
   <link href="styles/cartstyles.css" rel="stylesheet" type="text/css">
   <script src="../scripts/cartnatrag.js"></script>
</head>